html {
    height: 100%;
  }
  body {
    min-height: 100%;
  }

.loading {
    margin: auto;
    width: auto;
    position: relative;
    padding: 20%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.text-strikethrough {
    text-decoration: line-through;
}

.text-giant {
    font-size: 200%;
}

.completed-indicator {
    color: lawngreen
}

.todo-item .completed {
    display: none;
}

.todo-item.completed .completed {
    display: block;
}

.todo-item.completed .incomplete {
    display: none;
}